.controls{
    .item{
        .ant-select-selector{
            border : 1px solid #D4D4D7 !important;
            height: 44px;
            align-items: center;
        }
        
    }
}
// Custom 
.ant-picker{
    padding: 4px;
    &-suffix {
        content: url('../../../../../src/assets/calendar.svg');
      }
      &-input{
          display: flex;
          flex-direction: row-reverse;
          gap: 5px;
        input{
            width: 60%;
            margin-left: auto;
        }
      }
}
.ant-input{
    &-search{
        input{
            border: 1px solid #D4D4D7;
            border-radius: 0.5rem;
            height: 44px;
        }
    }
    &-group-addon{
        button{
            height: 44px;
            border-left :0;
            background: #fff;
            border-bottom-right-radius: 0.5rem !important;
            border-top-right-radius: 0.5rem !important;
            svg{
                color: #FF7506;
                font-weight: bold;
            }
        }
    }
}
.ant-table-content{
    thead{
        tr{
            th{
            background: #FF7506 !important;
            color: #fff;
            font-weight: bold;
            border-right: 1px solid #fff;
                &:first-child{
                    border-top-left-radius: 12px !important;
                }
                &:last-child{
                    border-top-right-radius: 12px !important;
                }
            }
        }
    }
    tbody{
        tr{
            &:nth-child(even){
                background: #FFF2E7;
            }
            td{
                padding: 14px 17px;
              border-right: 1px solid #FFE3CD;
            }
        }
    }
}
.info-content{
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    background: #fff;
    padding: 16px;
    border-radius: 16px;
}
.list-content{
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    background: #fff;
    padding: 12px 24px;
    border-radius: 16px;
}
table.capSo {
    border-collapse:separate;
    border-spacing:0 15px;
    input{
        border: 1px solid #D4D4D7!important;
        border-radius: 8px;
        padding: 5px 10px;
    }
}