.service-add {
  .textarea {
    height: 100%;
    .ant-form-item-control-input {
      height: 80%;
      &-content {
        height: 100%;
        textarea {
          height: 100%;
          resize: none;
        }
      }
    }
  }
  .inlineInput {
    display: inline !important;
    width: 65px !important;
  }
  .ant-checkbox-wrapper {
    span {
      &:last-child {
        display: flex;
        gap: 0 10px;
        .ant-form-item {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .add-content {
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    background: #fff;
    padding: 12px 24px;
    border-radius: 16px;
  }
  .ant-form-item {
    flex-direction: row !important;
  }
  input,textarea{
    border-radius: 5px;
    &:focus {
      border: 1px solid #ff7506;
      outline: none;
    }
  }
}
