.device {
  .controls {
    .item {
      .ant-select-selector {
        border: 1px solid #d4d4d7 !important;
      }
    }
  }
  .ant-select-arrow .anticon:not(.ant-select-suffix) {
    color: #ff7506;
  }
  .ant-input-search .ant-input {
    &:hover {
      border-color: #ff7506 !important;
    }
    &:focus {
      border-color: #ff7506 !important;
    }
  }
  .ant-btn {
    &:hover {
      border-color: #ff7506 !important;
    }
    &:focus {
      border-color: #ff7506 !important;
    }
  }
  .ant-pagination {
    justify-content: center;
  }
  .ant-pagination-item:hover {
    border-color: #ff7506 !important;
    background: #ff7506;
    > a {
      color: #fff !important;
    }
  }
  .ant-pagination-item-active {
    font-weight: 500;
    background: #ff7506;
    border-color: #ff7506 !important;
    > a {
      color: #fff !important;
    }
    &:hover {
      border-color: #ff7506 !important;
      color: #fff !important;
    }
  }
  // Custom
  .ant-picker {
    &-suffix {
      content: url("../../../../src/assets/calendar.svg");
    }
    &-input {
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      input {
        width: 60%;
        margin-left: auto;
      }
    }
  }
  .ant-input {
    &-search {
      input {
        border: 1px solid #d4d4d7;
        border-radius: 0.5rem;
      }
    }
    &-group-addon {
      height: 100%;
      button {
        height: 100%;
        border-left: 0;
        background: #fff;
        border-bottom-right-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
        svg {
          color: #ff7506;
          font-weight: bold;
        }
      }
    }
  }

  .ant-table-content {
    thead {
      tr {
        th {
          background: rgb(221, 224, 228) !important;
          color: rgb(0, 0, 0);
          font-weight: bold;
          border-right: 1px solid #fff;
          &:first-child {
            border-top-left-radius: 12px !important;
          }
          &:last-child {
            border-top-right-radius: 12px !important;
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background: rgba(247, 248, 251, 1);
        }
        td {
          padding: 12px 16px;
          border-right: 1px solid #ffe3cd;
        }
      }
    }
  }
  .controls .item .ant-select-selector {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .ant-input-group {
    height: 100%;
    .ant-input {
      height: 100%;
    }
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ff7506;
  }
  .ant-tabs-ink-bar {
    position: absolute;
    background: #ff7506;
    pointer-events: none;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
    color: #ff7506;
  }
  // .ant-modal-body {
  //   padding: 0 !important;
  //   width: 469px;
  //   height: 370px;
  //   background-color: #ffffff;
  //   margin: 0 !important;
  //   border-radius: 24px;
  // }
}
